html {
  font-size: $baseFontSize;

  @include tablets {
    font-size: $baseFontSize - 1px;
  }

  @include phones {
    font-size: $baseFontSize - 2px;
  }
}

body,
html {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: $baseFontSize;
  line-height: 1.42;
  -webkit-osx-font-smooothing: antialiased;
  -moz-osx-font-smooothing: grayscale;
  // position: relative;
  color: #292929;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: $containerWidth;
  // position: relative;
}

//tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}