.benefits-section {
  position: relative;
  background: url(../img/benefit/raws.png) left bottom 1% no-repeat;

  @include phones {
    background: none;
  }

  &:before {
    content: url(../img/benefit/leaf_benefit.png);
    position: absolute;
    bottom: rem(325px);
    left: 0;
    z-index: 200;

    @include phones {
      display: none;
    }

    @include tablets {
      bottom: rem(600px);
    }
  }
}