.benefits-section {
position: relative;

@include phones {
  background: none;
}


&:before {
  //content: url(../img/benefit/leaf_benefit.png);
  position: absolute;
  bottom: rem(25px);
  left: 0;
  z-index: 200;

  @include phones {
    display: none;
  }

  @include tablets {
    bottom: rem(600px);
  }
}

}