.btn {
  font-size: rem(16px);
  font-weight: bold;
  padding: rem(21px) rem(41px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;



  &--theme--white {
    background: #FFFFFF;
    color: $darkgreen;
    margin-top: rem(15px);

    &:hover {
      color: #FFFFFF;
      background: $darkgreen;
    }
  }

  &--theme--green {
    background: $darkgreen;
    color: white;
    outline: none;

    &:hover {
      color: $darkgreen;
      background: white;
    }
  }

  &--theme--transparent {
    background: transparent;
    color: black;
    text-transform: none;
    padding: rem(21px) rem(11px);
    font-weight: normal;
    font-size: rem(18px);

    &:hover {
      color: $darkgreen;
    }
  }
}