.form {
  display: flex;

  @include tablets {
    flex-direction: column;
    padding: 0 16%;
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(30px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(6px);

  @include tablets {
    margin-bottom: rem(12px);
  }
}

.form__block {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: none;
  padding: rem(18px) rem(11px);
  //border: rem(3px) solid #DEE2BD;
  border: rem(3px) solid transparent;

  @include tablets {
    padding: rem(7px) rem(11px);
  }

  &--textarea {
    height: rem(152px);
    resize: none;

    @include tablets {
      height: rem(90px);
    }
  }

  &:focus {
    border-color: #DEE2BD;
    outline: none;
  }
}

.form_title {
  color: #497870;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(27px);

  @include phones {
    justify-content: center;
  }
}

.form__btns {
  display: flex;
  justify-content: center;
}

.form__block {
  @include tablets {
    margin-bottom: rem(10px);
  }
}

.form__input .input-error {
  border-color: hotpink;
}

.input-error {
  border-color: hotpink;
}