.hero {
  background: url(../img/hero/blueleaf.png) right 0% bottom no-repeat;
  background-color: $blue;
  height: 100vh;
  min-height: 652px;
  color: #FFFFFF;
  position: relative;

  &:before {
    content: url(../img/hero/leaf3.png);
    position: absolute;
    bottom: -40px;
    left: 2%;
  }

  &:after {
    content: url(../img/hero/comp.png);
    position: absolute;
    bottom: -50px;
    right: 0;
  }

}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 8px 50px;
  background: url(../img/hero/Батончики.png) right center / 50% auto no-repeat;
  /* для того чтоб картинка находилана текст*/
}

.hero__tittle-section {
  width: 46%;
}

.hero__main-tittle {
  font-size: 48px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.hero__tittle-desc {
  font-size: 21px;
  margin-bottom: 32px;
  padding-right: 14%;
}