.reviews-section {
  position: relative;
  background: url(../img/reviews/strawberry.png) right top 10% no-repeat;

  @include tablets {
    background: url(../img/reviews/strawberry.png) right top no-repeat;
  }



  &:before {
    content: url(../img/reviews/berries.png);
    position: absolute;
    bottom: rem(-25px);
    left: 0;
    z-index: 100;

    @include phones {
      // width: 40%;
      // height: 40%;

      left: -55px;
    }

  }

  &:after {
    content: url(../img/reviews/leaf_reviews.png);
    position: absolute;
    bottom: rem(-80px);
    left: 0;
    z-index: 10;

    @include phones {
      left: -40px;
      // width: 15%;
      // height: 15%;
    }
  }

}

/*&::after {
    content: url("../img/decor/reviews/strawberries.png");
    position: absolute;
    top: 6.4%;
    right:1.9%;
}*/