.reviews__display {
  background: #F8FAF9 url(../img/reviews/flower.png) right top no-repeat;
  padding: 62px 45px 34px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;



  &:before {
    content: "";
    display: block;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -66px;
  }
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
  margin-right: 10px;
}

.reviews__avatar-img {
  object-fit: cover; //для растягивания картинки
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 28px;
  padding: 25px 0;
}

.reviews__title {
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 12px;

}

.reviews__text {
  margin-bottom: 32px;
  color: #666666;
  width: 463px;
}

.reviews__author {
  font-size: 18px;
  color: #292929;
  font-weight: bold;
}