.fulscreen-menu {
  height: 100%;
  width: 100%;
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  // left: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: 150;
  // transition: .5;
}

.fulscreen-menu--active {
  left: 0;
  // position: relative;
}

.fullscreen-menu-logo {
  position: absolute;
  right: rem(42px);
  top: rem(42px);
}

.menu--vertical {
  font-size: 36px;
  color: #FFFFFF;
  max-width: 293px;
  text-align: center;

  @include tablets {
    display: block;
  }
}

.menu__list--vertical {
  flex-direction: column;
}