.products-section {
  background-color: #F8FAF9;
  height: 100vh;
}

.products-section__container {
  position: relative;
}

.product__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: rem(24px) rem(8px) rem(50px);

  @include tablets {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include phones {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    padding-top: 30px;
  }
}

.product-slider__arrow--direction--prev {
  position: absolute;
  top: 45%;

  @include tablets {
    top: 27%;
  }

  @include phones {
    top: 22%;
  }
}

.product-slider {
  position: relative;
}

.bx-wrapper {
  //для обнуления свойств плагина
  border: 0;
  background: transparent;
  box-shadow: none;
}

.product-slider__arrow {
  z-index: 1000;
}


.product-slider__arrow--direction--next {
  position: absolute;
  top: 45%;
  right: 1%;

  @include tablets {
    top: 27%;
  }

  @include phones {
    top: 22%;
  }
}

.products__ingridients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #86C3D7;
  width: rem(91px);
  height: rem(91px);
  border-radius: 4px;
}

.products__ingridients-icon {
  display: inline-block;
  width: 46px;
  height: 46px;
}

.products__title {
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 18px;

  @include tablets {
    font-size: 30px;
    text-align: center;
  }


  &-desc {
    font-size: 18px;
    color: #666666;
    max-width: rem(368px);
    margin-bottom: 20px;

    @include tablets {
      text-align: center;
      max-width: rem(545px);
    }

    @include phones {
      text-align: center;
    }

  }
}

.products__ingridients-text {
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
}


.product__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: rem(20px);
  padding-right: rem(20px);

  @include tablets {
    align-items: center;
    justify-content: center;
  }

  @include phones {
    align-items: center;
    justify-content: center;
  }

  &-img {
    @include phones {
      display: flex;
      max-height: 255px;
    }
  }
}

.products__desc-col {
  display: flex;
  max-height: 60px;
  align-items: center;
  margin-bottom: 30px;

  @include phones {
    margin-left: 15px;
  }
}

.products__desc-text {
  margin-right: 45px;
  font-size: 18px;
  color: #666666;

  @include tablets {
    padding-left: 25px;
  }
}

.products__desc-elem {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
}

.products__desc-value {
  color: #151515;
  font-size: 60px;
  margin-right: 30px;
  white-space: nowrap;
}